.hero-img {
  width: 100%;
  height: 60vh;
  position: relative;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero-img::before {
  content: "";
  background: url("https://source.unsplash.com/1600x500/?developer, coding");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center top;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.hero-img h1 {
  font-size: 2.4rem;
}

.hero-img p {
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}
